* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionBackgroundStyle {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    background: #1D1E22;
    border-bottom: 3px solid #FFFFFF;
}

.descriptionServiceStyle {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.imageServiceStyle {
    margin: 1rem;
    align-self: center;
    max-width: 75%;
}


.titleServiceStyle {
    padding-top: 1rem;
    align-self: center;
    font-family: 'Gruppo';
    color: #00FFFF;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 500;
}

.quoteServiceStyle  {
    max-width: 75%;
    margin-top: 5rem;
    padding-bottom: 3rem;
    font-family: 'Gruppo';
    color: #00FFFF;
    align-self: center;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.divKeyWordsStyle {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.liKeyWordsStyle {
    max-width: 120px;
    font-family: 'Roboto';
    font-size: 13px;
    color: #00FFFF;
}

.imgKeywordsStyle {
    max-width: 100%;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
}

.imgKeywordsStyle:hover{
    transform: scale(1.15);
    box-shadow: 0 0 10px #444444;
    transition: .5s;
}

.topicKeywordsStyle {
    margin-top: 1rem;
    cursor: pointer;
}

.hiddenDescriptionStyle {
    display: none;
}

.topicKeywordsStyle:hover + .hiddenDescriptionStyle {
    display: block;
    transition: 1000ms;
    text-align: center;
    border: 1px #00FFFF solid;
}

/* .divKeyWordsStyle {
    display: flex;
    flex-direction: row;
    align-self: center; 
    font-family: 'Gruppo';
    color: #00FFFF;
}

.importantKeyWordsStyle {
    border: 1px solid #cacaca;
    padding: .5rem;
    margin: .5rem;
    border-radius: 10px;
    list-style-type: none;
    font-size: 0.8rem;
    letter-spacing: 1px;
    min-width: 150px;
} */