* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.itemListContainerStyle {
    right: 0;
    margin: 0 auto;
    font-family: 'Gruppo';
    font-weight: 600;
    font-size: small;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 10s steps(500) 0.5s 1 forwards;
    animation-delay: 1.25s;
}

.divGreetingStyle {
    min-width: 414px;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}